<!-- <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MySchoolApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/students" routerLinkActive="active">
          <fa-icon [icon]="studentIcon" class="fa"></fa-icon>
          Students
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/classes" routerLinkActive="active">
          <fa-icon [icon]="classesIcon" class="fa"></fa-icon>
          Classes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/attendance" routerLinkActive="active">
          <fa-icon [icon]="attendanceIcon" class="fa"></fa-icon>
          Attendance
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/fees" routerLinkActive="active">
          <fa-icon [icon]="feesIcon" class="fa"></fa-icon>
          Fees
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/teachers" routerLinkActive="active">
          <fa-icon [icon]="teacherIcon" class="fa"></fa-icon>
          Teachers
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/settings" routerLinkActive="active">
          <fa-icon [icon]="settingsIcon" class="fa"></fa-icon>
          Settings
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->
